<link rel= 'stylesheet' href= "/css/home.css">

<div class = "home-container">
    <% if(locals.user){%>
    <div class="all-peoples">
        <div class="people-you-may-know">
            <h3>People you may know</h3>
        </div>
        <% if(locals.user){%> 
            <% for(let individual of people){%>
              <% if(locals.user.id != individual.id){%>
                <div class="individual">
                    <div class="individual-avatar">
                        <img src= "<%= individual.avatar %>">
                    </div>
                    <div class="individual-container">
                        <div class="individual-details">
                            <h3 class="individual-name"><%= individual.name %></h3>
                        </div>
                        <div class="add-friend-button">
                            <a href= "/friend/create/<%= individual._id %>" class="friend-request-btn"><span><i class="fas fa-plus"></i></span>Add Friend</a>
                            <a href="/user/profile/<%= individual._id %> " class="view-profile-btn"><span>View Profile</a>
                        </div>
                    </div>
                </div>
              <%}%>
            <%}%>
        <%}%>
    </div>
    <%}%>
    <div class="home-middle">
        <% if(locals.user){%>
            <div class="post-creating-form">
                <form enctype="multipart/form-data" action="/post/create" method="POST">
                    <input type= "text" name="content" required placeholder="what's in your mind?">
                    <input type="file" name="image" required>
                    <input type="submit" value="Add Post">
                </form>
            </div>
        <%}%>
        <div class="all-posts">
            <% for(post of posts){%>
                <%- include('_post') -%>
            <%}%>
        </div>
    </div>

    
    
    <div class="friends">
        <% if(locals.user){%>
            <% for(let friend of friends){%>
                <div class="friend" data-id = "<%= friend._id %>" data-name= "<%= friend.name %>">
                    <div class="friend-avatar">
                        <img src= "<%= friend.avatar %>">
                    </div>
                    <div class="friend-name">
                        <h3><%= friend.name %></h3>
                    </div>
                </div>
            <%}%>
        <%}%>
    </div>

    
</div>

<%- include('_chat_box') -%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src= "/js/chat_engine.js"></script>
<script src= "/js/home.js"></script>

<% if(locals.user){%>
    <script>
        new ChatEngine('chat-box', '<%= user.email %>');
    </script>
<%}%>
