<html>
 <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel= "stylesheet" href="<%= assetPath('css/layout.css') %>">
    <%- style -%>
 </head>
 <body>
    <%- include('_header') -%>
    
    <%- body -%>

    <%-include('_footer') -%>

    <%- script -%>

    <script>
      //  <% if(locals.flash && flash.success.length > 0){%>
         new Noty({
            theme: 'relax',
            type: 'success',
            text: "<%= flash.success %>",
            layout: 'topRight',
            timeout: 1000,
         }).show();
      <%}else if(locals.flash && flash.error.length > 0){%>
         new Noty({
            theme: 'relax',
            type: 'error',
            text: "<%= flash.error %>",
            layout: 'topRight',
            timeout: 1000,
         }).show();
      <%}%>
    </script>
 </body>
</html>